<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests " data-provider-thread-count="2">
	<listeners>
		<listener class-name="listenersss.Iexecutionlistenersprac1"></listener>
	</listeners>
	 
	<test  name="Test"> 
    <classes>
    
      <class name="listenersss.IexecutionlistenersTest2"/>
      <class name="listenersss.Testclass"/>
     
    </classes>
    </test>
   
</suite> <!-- Suite -->
